.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 92px;
    z-index: 5;

    background-color: transparent;
    border: 1px solid #F0F0F0;
}

.logo_img {
    padding-top: 32px;
    padding-left: 40px;
}

.header-menu {
    display: inline-block;
    margin-left: 52px;
    overflow: hidden;
    background-color: transparent;
    line-height: 20px;
}

ul {

    list-style-type: none;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-right: 26px;
}

.nav-link {
    opacity: 0.6;
    font-family: Arial-BoldMT;
    font-size: 16px;
    color: #333333;
    line-height: 20px;
}

.nav-link.active {
    opacity: 1;
    color: #333333;
}

.container {
    position: fixed;
    min-height: 200%;
    max-width: 100%;
    // padding-top: 92px;
    left: 0px;
    right: 0px;
    top: 92px;

    font-family: ArialMT;
    color: #333333;
}

.img-container {
    position: relative;
    /*text-align: center;*/
    /*color: white;*/
}

/*.page-header p {
    font-family: Arial-BoldMT;
    font-size: 18px;
    color: #333333;
}*/

.top-left {
    position: absolute;
    top: 0px;
    left: 0px;
}

.top h2 {
    font-family: Arial-BoldMT;
    color: #333333;
    font-size: 27px;
}

.top {
    position: absolute;

    top: 0px;
    left: 0px;

    max-width: 630px;

}

.left-col {
    padding-top: 26px;
    padding-left: 25px;
}

.right-col {
    float: right;
    padding-top: 20px;
    padding-right: 20px;

    position: relative;
    max-width: 50%;
}

.left-col p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.left-col h2 {
    font-family: Arial-BoldMT;
    font-size: 27px;
    color: #333333;
    margin-top: 0px;
    margin-bottom: 6px;
}

.temp-info {
    padding-top: 25px;
    padding-left: 25px;

}

.temp-info p {
    font-size: 14px;
    color: #858585;
    margin-bottom: 4px;


}

.temp-info h1 {
    font-family: Arial-BoldMT;
    font-size: 36px;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
    margin-top: 0px;
    margin-right: 18px;
}

.row {
    position: absolute;
    left: 0px;
    right: 0px;
    max-width: 100%;
    z-index: 5;
}

.left-side {
    padding-left: 39px;
    padding-top: 29px;
    margin: 0 0 0 0;
}

.right-side {
    padding-left: 39px;
    padding-top: 29px;
    margin: 0 auto;
}

.left-side p {
    margin-top: 0;
}

.right-side p {
    margin-top: 0;
}


.col-lg-1 {
    float: left;
    max-width: 8.3333333333%;
}
.col-lg-2 {
    float: left;
    max-width: 16.6666666667%;
}
.col-lg-3 {
    float: left;
    max-width: 25%;
}
.col-lg-4 {
    position: relative;
    float: left;
    max-width: 33.3333333333%;
}
.col-lg-5 {
    float: left;
    max-width: 41.6666666667%;
}
.col-lg-6 {
    position: relative;
    float: left;
    max-width: 50%;
}
.col-lg-7 {
    float: left;
    max-width: 58.3333333333%;
}
.col-lg-8 {
    position: relative;
    float: left;
    max-width: 66.6666666667%;
}
.col-lg-9 {
    float: left;
    max-width: 75%;
}
.col-lg-10 {
    float: left;
    max-width: 83.3333333333%;
}
.col-lg-11 {
    float: left;
    max-width: 91.6666666667%;
}
.col-lg-12 {
    float: left;
    max-width: 100%;
}


.col-header {
    font-family: Arial-BoldMT;
    font-size: 18px;
    color: #333333;
    center: top;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-lg-6 {
        width: 100%;
    }
}

/*.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;

}


@media (min-width: 992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-lg-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-lg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }
    .col-lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
    }
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }
    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }
    .col-lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }
    .col-lg-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%;
    }
    .col-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-lg-first {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .order-lg-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13;
    }
    .order-lg-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .order-lg-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .order-lg-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .order-lg-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .order-lg-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }
    .order-lg-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }
    .order-lg-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }
    .order-lg-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }
    .order-lg-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }
    .order-lg-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }
    .order-lg-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }
    .order-lg-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }
    .order-lg-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }
    .offset-lg-0 {
        margin-left: 0;
    }
    .offset-lg-1 {
        margin-left: 8.3333333333%;
    }
    .offset-lg-2 {
        margin-left: 16.6666666667%;
    }
    .offset-lg-3 {
        margin-left: 25%;
    }
    .offset-lg-4 {
        margin-left: 33.3333333333%;
    }
    .offset-lg-5 {
        margin-left: 41.6666666667%;
    }
    .offset-lg-6 {
        margin-left: 50%;
    }
    .offset-lg-7 {
        margin-left: 58.3333333333%;
    }
    .offset-lg-8 {
        margin-left: 66.6666666667%;
    }
    .offset-lg-9 {
        margin-left: 75%;
    }
    .offset-lg-10 {
        margin-left: 83.3333333333%;
    }
    .offset-lg-11 {
        margin-left: 91.6666666667%;
    }
}*/

.card {
    /*position: relative;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 200px;
    height: 120px;
    word-wrap: break-word;
    background-color: #F7F7F7;
    background-clip: border-box;
    margin-bottom: 15px;
    border-radius: 20px;

    z-index: 1;
}

.card-body {
    padding: 14px 14px 14px;
    height: 92px;
}

.card-text {
    margin-bottom: 0px;
}

.card-text h4 {
    margin: 0px 0 0px 0;
    font-family: Arial-BoldMT;
    font-size: 14px;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
}

.text-muted {
    font-family: ArialMT;
    font-size: 12px;
    color: #858585;
    letter-spacing: 0;
    text-align: left;
}
